{% extends 'base.html' %}

{% block title %}
    | Books
{% endblock %}

{% block content %}
{% for book in books %}
    <div class="col-md-3">
        <div class="card-book">
            <p><img class="card-img-top" src="{{ book.cover.url }}" alt="Cover of {{ title }}"></p>
            <h4>{{ book }}</h4>
            <p>
                {% for genre in book.genre.all %}
                    <span class="badge bg-dark text-light">{{ genre }}</span>
                {% endfor %}
            </p>
            <p>by:
                {% for author in book.author.all %}
                    <b>{{ author }}</b>
                {% endfor %}
            </p>
            <a href="{% url 'books:book_detail' pk=book.id %}" role="button" class="btn btn-success">View more</a>
        </div>
    </div>
{% endfor %}
    <div class="pagination">
        <span class="badge text-dark">
            {% if page_obj.has_previous %}
                <a href="?page=1" role="button" class="btn btn-dark">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}" role="button" class="btn btn-dark">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" role="button" class="btn btn-dark">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}" role="button" class="btn btn-dark">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}
