{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    | Book details
{% endblock %}

{% block content %}
    <div class="col-md-3">
        <div class="card-book">
            <p><img class="card-img-top" src="{{ book.cover.url }}" alt="Cover of {{ title }}"></p>
            <div class="likes">
                <form method="POST" action="{% url 'books:book_like' book.pk %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button class="btn btn-success" type="submit">like it! |
                    <span>{{ book.likes.all.count }}</span></button>
                </form>
                <form method="POST" action="{% url 'books:book_dislike' book.pk %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button class="btn btn-danger" type="submit">dislike |
                    <span>{{ book.dislikes.all.count }}</span></button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="card-body">
            <h3>{{ book }}</h3>
            <p><b>Author:</b>
                {% for author in book.author.all %}
                    {{ author }}
                {% endfor %}</p>
            <p>{% for genre in book.genre.all %}
                <span class="badge bg-dark text-light">{{ genre }}</span>
                {% endfor %}</p>
            <p><b>Published on:</b> {{ book.date }}</p>
            <p><b>Description:</b> {{ book.description }}</p>
            <p>
                <a href="{% url 'books:book_update' pk=book.id %}" role="button" class="btn btn-sm btn-secondary">Edit book</a>
                <a href="{% url 'books:book_delete' pk=book.id %}" role="button" class="btn btn-sm btn-secondary">Delete book</a>
            </p>
            <p><b>Reviews ({{ reviews|length }})</b><br>
                {% for review in reviews %}
                    <h5>{{ review }}</h5>
                    <p><em>published by <b>{{ review.author }}</b> on {{ review.timestamp }}</em><br>
                        <p><span class="review">"{{ review.review }}"</span></p>
                    <p><a href="{% url 'books:review_detail' pk=review.id %}" role="button" class="btn btn-sm btn-secondary">View more</a></p>
                {% empty %}
                    <p>no reviews yet</p>
                {% endfor %}
            <p><b>Comments ({{ comments|length }})</b></p>
            <form class="form" action="." method="post">
                {% csrf_token %}
                <p>{{ form|crispy }}</p>
                <button type="submit" class="btn btn-sm btn-secondary">Add comment</button>
            </form><br>
                {% for comment in comments %}
                <div class="comment">
                    <p><em><b>{{ comment.author }}</b> at {{ comment.timestamp }}</em></p>
                    <p>"{{ comment.comment }}"</p>
                    <a href="{% url 'books:comment_update' pk=comment.id %}" role="button" class="btn btn-sm btn-secondary">Edit</a>
                    <a href="{% url 'books:comment_delete' pk=comment.id %}" role="button" class="btn btn-sm btn-secondary">Delete</a>
                    <form class="form" action="." method="post">
                        {% csrf_token %}
                        <p>{{ form|crispy }}</p>
                        <input type="hidden" name="parent_id" value="{{ comment.id }}">
                        <input class="btn btn-sm btn-secondary" type="submit" value="Add reply">
                    </form>
                </div>
                    {% for reply in comment.replies.all %}
                    <div class="reply">
                        <p><em><b>{{ reply.author }}</b> at {{ reply.timestamp }}</em></p>
                        <p>replied <em>"{{ reply.parent }}"</em> with</p>
                        <p>"{{ reply }}"</p>
                        <a href="{% url 'books:comment_update' pk=reply.id %}" role="button" class="btn btn-sm btn-secondary">Edit</a>
                        <a href="{% url 'books:comment_delete' pk=reply.id %}" role="button" class="btn btn-sm btn-secondary">Delete</a>
                    </div>
                    {% endfor %}
                {% endfor %}
        </div>
    </div>
{% endblock content %}
