{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    | Edit comment
{% endblock title %}

{% block content %}
    <div class="col-md-4">
        <h4>Edit comment</h4>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }} <br>
            <div class="form-group">
                <button type="submit" class="btn btn-dark">Confirm</button>
                <a href="javascript:history.back()" role="button" class="btn btn-dark">Back</a>
            </div>
        </form>
    </div>
{% endblock %}
