{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    | Sign up
{% endblock title %}

{% block content %}
    <div class="col-md-4">
        <h4>Sign up</h4>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="form-group">
                <button type="submit" class="btn btn-dark">Sign up</button>
                <a href="javascript:history.back()" role="button" class="btn btn-dark">Back</a>
            </div>
        </form>
    </div>
{% endblock %}